:root {
  --main: #c3f4ed;
  --dark: #131515;
  --dark-accent: #474f4d;
  --light: #e5e4e2;
  --light-rgb: 229, 228, 226;
  --light-accent: #7DE2D1;
  --text-height: 1.5em;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: .01px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--light);
  color: var(--dark);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flex-r-gap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.screen-pane {
  flex: 1;
  height: 100%;
  width: 100%;
}

h1 {
  width: fit-content;
}

.heading {
  color: var(--main);
  padding-top: 2rem;
}

.title-medium {
  font-family: 'Tenor Sans', sans-serif;
  font-style: italic;
  font-size: 2.5em;
}

.subtitle-medium {
  font-size: 1.25em;
}

.home-title {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 7em;
  margin: 0;
}

.font-margin {
  margin-left: 2px;
}

.home-subtitle {
  font-size: 1.5em;
  font-style: italic;
  margin: 0 12px;
}

.video {
  height: 50vh;
  flex: 1;
}

.project-text {
  color: aliceblue;
  padding: 0 2em;
  flex: 1;
}

.links {
  margin: 0;
  font-size: 1em;
  line-height: var(--text-height);
  position: fixed;
  border-radius: 10px;
  color: var(--light);
  background-color: rgba(255,255,255, 0.0);
  box-shadow: rgba(255,255,255, .0) 0px 0px 10px 10px;
  padding: 0px 1em;
  width: 40vw;
  top: 4%;
  left: 75%;
  opacity: 0;
  z-index: 2;
  transition: opacity 2s ease-out;
  transform: translate(-50%, -50%);
}

.header-link-selected {
  font-size: 1.2em;
  cursor: default;
  color: var(--light);
  list-style-type: none;
  /* font-weight: bolder; */
  padding: .15em .4em;
  text-shadow: 1px 1px 1px black;
  transition: font-size .5s;
}

.header-link {
  --_c: black;
  cursor: pointer;
  color: transparent;
  /* font-weight: lighter; */
  padding: .15em .4em;
  text-shadow:
    0 calc(-1*var(--_t,0em)) var(--light),
    0 calc(var(--text-height) - var(--_t,0em)) var(--main),
    2px 2px 5px var(--_c);
  overflow: hidden;
  transition: 0.1s ease-in;
}

.header-link:hover {
  --_t: var(--text-height);
  --_c: white;
}

.cur-default {
  cursor: default;
}

.p-0 {
  margin: 0;
  padding: 0 .75em;
}

.left-pane {
  margin: 0;
  position: fixed;
  width: auto;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  transition: opacity .65s
}

.right-pane {
  position: fixed;
  overflow: hidden;
  left: 50%;
  z-index: 1;
  /* transition: left .1s;
  transition: bottom .1s; */
}

.img-home {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

#projects-pane {
  display: none;
  position: absolute;
  padding: 3em 0;
  background-color: rgba(19, 21, 21, .15);
  opacity: 0;
  width: 100%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity .85s ease-in;
}

.gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}
.gg-chevron-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 4px
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.chevron {
  position: relative;
  top: 50%;
  left: 50%;
  filter: invert(1);
  width: 5em;
  height: 5em;
  transform: translate(-50%, -50%);
}

.carousel-arrow {
  flex: 1;
  border-radius: 10px;
  transition: background-color .25s;
}

.carousel-item-active {
  display: flex;
  flex: 4;
}

.carousel-item {
  display: none;
  flex: 4;
  transform: translateX(120%);
}

.carousel-arrow:hover {
  background-color: rgba(var(--light-rgb), .3);
}
/* 21435D */
/* 7b949c */
.gradient {
  background: linear-gradient(200deg, #21435D, #807595);
  background-size: 400% 400%;

  -webkit-animation: GradientAnim 12s ease infinite;
  -moz-animation: GradientAnim 12s ease infinite;
  animation: GradientAnim 12s ease infinite;
}

@-webkit-keyframes GradientAnim {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@-moz-keyframes GradientAnim {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@keyframes GradientAnim {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}