:root {
  --main: #2d877a;
  --dark: #131515;
  --dark-accent: #2B2C28;
  --light: #E5E4E2;
  --light-accent: #7DE2D1;
  --text-height: 1.5em;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--light);
  color: var(--dark);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flex-r-gap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.screen-pane {
  flex: 1;
  height: 100%;
  width: 100%;
}

h1 {
  width: fit-content;
}

.heading {
  color: var(--main);
  padding-top: 2rem;
}

.img-home {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

.home-title {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 7em;
  margin: 0;
}

.font-margin {
  margin-left: 2px;
}

.home-subtitle {
  font-size: 1.5em;
  font-style: italic;
  margin: 0 12px;
}

.links {
  margin: 0;
  font-size: 1em;
  line-height: var(--text-height);
  position: fixed;
  border-radius: 10px;
  color: var(--light);
  background-color: rgba(255,255,255, 0.0);
  box-shadow: rgba(255,255,255, .0) 0px 0px 10px 10px;
  padding: 0px 1em;
  width: 40vw;
  top: 4%;
  left: 75%;
  opacity: 0;
  transition: opacity 2s ease-out;
  transform: translate(-50%, -50%);
}

.header-link-selected {
  cursor: default;
  color: var(--light);
  list-style-type: none;
  font-weight: bolder;
}

.header-link {
  cursor: pointer;
  color: transparent;
  font-weight:lighter;
  text-shadow: 
    0 calc(-1*var(--_t,0em)) var(--light), 
    0 calc(var(--text-height) - var(--_t,0em)) var(--main);
  overflow: hidden;
  transition: 0.1s ease-in;
}

.header-link:hover {
  --_t: var(--text-height);
}

.cur-default {
  cursor: default;
}

.p-0 {
  margin: 0;
  padding: 0 .75em;
}

.left-pane {
  margin: 0;
  position: absolute;
  width: auto;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  transition: opacity .65s
}

.right-pane {
  position: absolute;
  left: 50%;
  transition: left .25s;
  transition: bottom .25s;
}

.italic {
  font-style: italic;
}

/* .project-card {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  border: solid;
  border-radius: 5%;
  border-color: var(--dark);
  width: 200px;
  transition: border-color .15s ease-in-out;
}

.project-card:hover {
  cursor: pointer;
  border-color: var(--light-accent);
}

.project-card:active {
  border-color: var(--dark);
} */